{% extends 'core/index.html' %}
{% load static %}
{% load productos_extras %}
{% load humanize %}
{% load cart_extras %}
{% load accounts_extras %}
{% load social_extras %}
{% load thumbnail %}
{% block titulo %}Pedidos{% endblock titulo %} 
{% block barra_busqueda %}
{% endblock barra_busqueda %}
{% block tittle %}Lista de Pedidos{% endblock %}
{% block content %}
<section class="page-title-area bg-img" data-bg-img="">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="page-title-content">
      </div>
      <div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
        <a href="{% url 'home' %}" class="s-text16">
          Inicio
          <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
        </a>
        <span class="s-text17">
          Mis Pedidos
        </span>
      </div>
    
      <br>
    <div class="containter">
      <div class="row justify-content-center">
        <h4>Pedidos Nº: {{order.id}}</h4>
      </div>
    </div>
    </div>
    </div>
  </div>
  </section>

<br>
<br>
<div class="container-table-cart pos-relative">
<div class="wrap-table-shopping-cart bgwhite">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Producto #</th>
      <th scope="col">Fecha</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio Unit</th>
      <th scope="col">Sub Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
		{% if forloop.counter|divisibleby:2 %}
    <tr class="table-light">
		{% else %}
		<tr class="table-active">
		{% endif %}
      <th scope="row">{{item.producto.titulo}}</th>
      <td>{{order.date_ordered|date:'SHORT_DATE_FORMAT'}}</td>
      <td>{{item.quantity}}</td>
      <td>₲. {{item.producto.precio|intcomma}}</td>
      <td>₲. {{item.get_item_total|intcomma}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
  <div class="row">
  <div class="p-2 d-flex justify-content-center">
  <div class="col-sm-4 col-md-4 col-lg-4">
    {{ form.as_p }}
  </div>
  </div>
  <div class="p-2 d-flex justify-content-center">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <input type="submit" class="btn btn-primary btn-block" value="Cambiar Estado" />
  </div>
  </div>
</div> 
</form>
{% endblock %}