{% extends 'core/index.html' %}
{% load static %}
{% load productos_extras %}
{% load humanize %}
{% load cart_extras %}
{% load accounts_extras %}
{% load social_extras %}
{% load thumbnail %}
{% block titulo %}Mis Pedidos{% endblock titulo %} 
{% block barra_busqueda %}
{% endblock barra_busqueda %}
{% block content %}

<section class="page-title-area bg-img" data-bg-img="">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="page-title-content">
      </div>
      <div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
        <a href="{% url 'home' %}" class="s-text16">
          Inicio
          <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
        </a>
        <span class="s-text17">
          Mis Pedidos
        </span>
      </div>

      <br>
    <div class="containter">
      <div class="row justify-content-center">
        <h4>Mis Pedidos</h4>
        {{request.}}
      </div>
    </div>
    </div>
    </div>
  </div>
  </section>
	<!-- breadcrumb -->

<br>
<br>
{% get_number_one as number_first %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
			<div class="row d-flex justify-content-center">
				<div class="col-3">
					<select name="select" onchange="location = this.value;" id="select" class="form-select">
            <option value="0">Filtrar</option>
            <option value="{% url 'order_list' %}">Todos</option>
            <option value="{% if request.GET.date %}?date={{request.GET.date}}&status=PE{% else %}?status=PE{% endif %}">Pendientes</option>
            <option value="{% if request.GET.date %}?date={{request.GET.date}}&status=PR{% else %}?status=PR{% endif %}">En Proceso</option>
            <option value="{% if request.GET.date %}?date={{request.GET.date}}&status=FI{% else %}?status=FI{% endif %}">Finalizado</option>
            <option value="{% if request.GET.date %}?date={{request.GET.date}}&status=CA{% else %}?status=CA{% endif %}">CANCELADO</option>
          </select>
        </div>			
      
			<div class="col-3">
			<select name="select" onchange="location = this.value;" id="select" class="form-select">
        <option value="0">Fechas</option>
        <option value="{% url 'order_list' %}">Todos</option>
        <option value="{% if request.GET.status %}?status={{request.GET.status}}&date=today{% else %}?date=today{% endif %}">Hoy</option>
        <option value="{% if request.GET.status %}?status={{request.GET.status}}&date=today{% else %}?date=today{% endif %}">Ultimos 7 dias</option>
        <option value="{% if request.GET.status %}?status={{request.GET.status}}&date=month{% else %}?date=month{% endif %}">Este Mes</option>
      </select>
								
			</div>
    </div>
  </div>
                                        
<div class="card-body">
<table id="bootstrap-data-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col"><center>Pedido #</center></th>
      <th scope="col"><center>Fecha</center></th>
      <th scope="col"><center>Monto</center></th>
      <th scope="col"><center>Estado</center></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for order in order_list %}
         
        {% get_link_wha_order number_first order.id dato_url as link_wha %}
      <tr class="table-active">
      <th scope="row"><center>{{order.id}}</center></th>
      <td><center>{{order.date_ordered|date:'SHORT_DATE_FORMAT'}}</center></td>
      <td><center>₲. {{order.total|intcomma}}</center></td>
      <td><center>{{order.get_status}}</center></td>
	
      
      <td><span><a href="{% url 'order_detail' order.pk %}">Detalles <i class="fa fa-file-text" aria-hidden="true"></i></a></span></td>
      <td><span><a href="{{link_wha}}cart/my-orders/{{order.id}}/">Compartir <i class="fa fa-whatsapp" aria-hidden="true"></i></a></span></td>
    </tr>
    {% endfor %}
  </tbody>
                                </table>
                            </div>
                        </div>
</div>
</div><!-- .animated -->
<br>
<br>

<div class="pagination-area">
  <nav>
    <ul class="page-numbers">
      {% for i in paginator.page_range %}
				{% if page_obj.number == i %}
        <li>
        <a href="{% if request.GET.buscar %}?buscar={{request.GET.buscar}}&{% else %}?{%endif%}page={{ i }}" class="page-number active">{{i}}</a>
      </li>
      {% else %}
      <li>
      <a href="{% if request.GET.buscar %}?buscar={{request.GET.buscar}}&{% else %}?{%endif%}page={{ i }}" class="page-number">{{i}}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
</div>

</div>
<br>
<br>

{% endblock content %}