{% extends 'core/index.html' %}
{% load static %}
{% load humanize %}
{% load blog_extras %}
{% load accounts_extras %}
{% load productos_extras %}
{% load pages_extras %}
{% load social_extras %}
{% load cart_extras %}
{% load thumbnail %}
{% block title %}Mi Carrito{% endblock title %} 
{% block content %}
{% if profile %}
<main class="main-content">
    <!--== Start Page Title Area ==-->

    </section>

    <!--== Start Cart Area Wrapper ==-->
    <div class="product-area wishlist-page-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wishlist-table-wrap">
              <div class="wishlist-table table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="pro-remove"> </th>
                      <th class="pro-thumbnail"> </th>
                      <th class="pro-name">Producto</th>
                      <th class="pro-stock-status">Estado</th>
                      <th class="pro-price">Precio</th>
                      <th class="pro-action"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for wish in wish_list %}

                    <tr>
                        <td class="pro-remove"><a href=""><i class="lastudioicon-e-remove"></i></a></td>
                        <td class="pro-thumbnail">
                          <div class="pro-info">
                            <div class="pro-img">
                              <a href="{% url 'product_detail' wish.producto.id wish.producto.slug %}"><img src="{{wish.producto.imagen.url}}" alt="Moren-Shop"></a>
                            </div>
                          </div>
                        </td>
                        <td class="pro-name"><span>{{wish.producto.titulo}}</span></td>
                        <td class="pro-stock-status"><span>En Stock</span></td>
                        <td class="pro-price">₲. {{wish.producto.get_price}}</td>
                        <td class="pro-action"><a class="btn-theme btn-black" href="{% url 'product_detail' wish.producto.id wish.producto.slug %}">Mirar el Producto</a></td>
                      </tr>

                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Cart Area Wrapper ==-->



{% endif %}
{% endblock content %}