{% extends 'core/index.html' %}
{% load static %}
{% block titulo %}Perfil{% endblock %}
{% block body %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <!-- Previa del avatar -->
            <div class="col-md-2">
              {% if request.user.profile.avatar %}
                <img src="{{request.user.profile.avatar.url}}" class="img-fluid">
                <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
                <br><br>
                <a href="/accounts/password/change/">Cambiar Contraseña</a>
                <br><br>
              {% else %}
              <img src="{% static 'images/no-perfil.jpg' %}" class="img-fluid">
              {% endif %}
            </div>
            <!-- Formulario -->
            <div class="col-md-10">
              <h3>Perfil</h3>
                <input type="file" name="avatar" class="form-control-file mt-3" id="id_avatar">
                <br><br>
                {{ form.nombre.label }}
                {{ form.nombre }}
                <br>
                {{ form.apellido.label }}
                {{ form.apellido }}
                <br>
                {{ form.celular.label }}
                {{ form.celular }}
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}