{% extends 'core/index.html' %}
{% load static %}
{% load productos_extras %}
{% load humanize %}
{% load thumbnail %}
{% block title %} {{post.title}} | Blog{% endblock title %} 

{% block content %}
 <!--== Start Page Title Area ==-->
 <section class="page-title-area bg-img" data-bg-img="">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12">
		  <div class="page-title-content">
			</div>
		</div>
	  </div>
	</div>
  </section>
  <!--== End Page Title Area ==-->

  <!--== Start Blog Area Wrapper ==-->
  <section class="blog-details-area">
	<div class="container">
	  <div class="row">
		<div class="col-12">
		  <div class="blog-content-column">
			<div class="blog-content-area no-sidebar">
			  <div class="post-details-content">
				<div class="post-details-body">
				  <div class="content">
					<div class="thumb">
					  <img class="w-100" src="{{post.image.url}}" alt="Moren-Blog">
					</div>
					<div class="category">
						{% for category in post.categories.all %}
						<a href="">{{category.name}}</a>
						{% if not forloop.last %}
						|
					  	{% endif %}
					  	{% endfor %}
					</div>
					<h4>{{post.title}}</h4>
					<ul class="meta">
					  <li class="author">Escrito por: <a href="">{{post.author}}</a></li>
					  <li> | </li>
					  <li class="date">{{post.date_created|date:'SHORT_DATE_FORMAT'}}</li>
					</ul>
					<div class="blockquote-area">
						{{post.content|safe}}
					  <br>
					  {% if request.user.is_staff %}
					  <p><a href="{% url 'admin:blog_post_change' post.id %}">Editar</a></p>
				  	  {% endif %}
					<div class="category-social-content">
					  <div class="category-items">
						<span>Tags:</span>
						{% for tag in tags %}
						<a href="#">{{tag.tag}},</a>
						{% if not forloop.last %}
						,
					  	{% endif %}
					  	{% endfor %}
					  </div>
					  <div class="social-items">
						  {% if hola %}
						<a class="one" href="#/"><i class="lastudioicon-b-facebook"></i></a>
						<a class="two" href="#/"><i class="lastudioicon-b-twitter"></i></a>
						<a class="three" href="#/"><i class="lastudioicon-b-linkedin"></i></a>
						<a class="four" href="#/"><i class="lastudioicon-b-pinterest"></i></a>
						{% endif %}
					  </div>
					</div>
				  </div>{% if hola %}
				  <div class="comments-area">
					
					<h2>Leave a Reply</h2>
					<div class="comments-form-wrap">
					  <div class="clearfix"></div>
					  <form action="#" method="post">
						<div class="comments-form-content">
						  <div class="row row-gutter-20">
							<div class="col-md-12">
							  <div class="form-group">
								<textarea class="form-control textarea" name="comment" rows="5" placeholder="Your Comment Here..." required=""></textarea>
							  </div>
							</div>
							<div class="col-md-4">
							  <div class="form-group">
								<input class="form-control" type="text" placeholder="Name (required)" required="">
							  </div>
							</div>
							<div class="col-md-4">
							  <div class="form-group">
								<input class="form-control" type="email" placeholder="Email" required="">
							  </div>
							</div>
							<div class="col-md-4">
							  <div class="form-group">
								<input class="form-control" type="text" placeholder="Website" required="">
							  </div>
							</div>
							<div class="col-md-12">
							  <div class="form-group">
								<div class="comment-form-cookies"><input id="comment-cookies" name="comment-cookies" type="checkbox" value="yes"> <label for="comment-cookies">Save my name, email, and website in this browser for the next time I comment.</label></div>
							  </div>
							</div>
						  </div>
						  <div class="row">
							<div class="col-md-12">
							  <div class="form-group">
								<button class="btn-theme btn btn-black" type="submit">Post Comment</button>
							  </div>
							</div>
						  </div>
						</div>
					  </form>
					</div>
					
				  </div>
				  {% endif %}
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!--== End Blog Area Wrapper ==-->

  <section class="blog-area blog-default-area">
	<div class="container">
	  <div class="row">
		<div class="col-md-8 col-lg-6 m-auto">
		  <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
			<h2 class="title">Nuestro Blog</h2>
		  </div>
		</div>
	  </div>
	  <div class="row post-items" data-aos="fade-up" data-aos-duration="1200">
		<div class="col-12">
		  <div class="swiper-container post-slider-container">
			<div class="swiper-wrapper">
			  {% for post in posts %}
			  <div class="swiper-slide">
				<!--== Start Blog Post Item ==-->
				<div class="post-item">
				  <div class="thumb">
					<a href="#">{% thumbnail post.image "345x283" crop="center" as im %}
					  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="Moren-Shop">
					  {% endthumbnail %}</a>
				  </div>
				  <div class="content">
					<div class="post-meta">
					  <img src="{% static 'assets/img/icons/s1.jpg' %}" alt="Image">
					  <a href="blog.html">{{post.author}}</a>
					</div>
					<div class="inner-content">
					  <h4 class="title">
						<a href="#">{{post.title}}</a>
					  </h4>
					  <p>{{post.description}}</p>
					</div>
					<a href="#" class="btn-theme btn-border btn-black">Continuar Leyendo</a>
				  </div>
				</div>
				<!--== End Blog Post Item ==-->
			  </div>
			  {% endfor %}
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		  </div>
		</div>
	  </div>
	</div>
  </section>

{% endblock content %}