{% load static %}
{% load humanize %}
{% load blog_extras %}
{% load accounts_extras %}
{% load productos_extras %}
{% load pages_extras %}
{% load social_extras %}
{% load cart_extras %}
{% load thumbnail %}
{% get_profile request as profile %}
{% if profile %}
  {% get_order profile as order %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Casa Fenix | {% block title %}Inicio{% endblock title %}</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700,700i" rel="stylesheet">
    
    <!--== Bootstrap CSS ==-->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--== Font-awesome Icons CSS ==-->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'assets/css/menuaux.css' %}" rel="stylesheet"/>
    <!--== Icofont Min Icons CSS ==-->
    <link href="{% static 'assets/css/icofont.min.css' %}" rel="stylesheet"/>
    <!--== lastudioIcons CSS ==-->
    <link href="{% static 'assets/css/lastudioIcons.css' %}" rel="stylesheet"/>
    <!--== Animate CSS ==-->
    <link href="{% static 'assets/css/animate.cs' %}s" rel="stylesheet"/>
    <!--== Aos CSS ==-->
    <link href="{% static 'assets/css/aos.css' %}" rel="stylesheet"/>
    <!--== FancyBox CSS ==-->
    <link href="{% static 'assets/css/jquery.fancybox.min.css' %}" rel="stylesheet"/>
    <!--== Slicknav CSS ==-->
    <link href="{% static 'assets/css/slicknav.css' %}" rel="stylesheet"/>
    <!--== Swiper CSS ==-->
    <link href="{% static 'assets/css/swiper.min.css' %}" rel="stylesheet"/>
    <!--== Slick CSS ==-->
    <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    
    <!--== Nuevos Agregados CSS ==-->
    <link href="{% static 'assets/css/ordertracking.css' %}" rel="stylesheet" />



</head>

<body>

<!--wrapper start-->
<div class="wrapper home-two-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  <header class="header-area header-default header-style3 header-transparent sticky-header">
    <div class="container-fluid">
      <div class="row row-gutter-0 align-items-center">
        <div class="col-12">
          <div class="header-align">
            <div class="header-align-left">
              <button class="btn-menu">
                <i class="lastudioicon-menu-3-1"></i>
              </button>
              <div class="header-logo-area">
                <a href="{% url 'home' %}">
                  <img class="logo-main" src="{% static 'assets/img/logo-main.svg' %}" alt="Logo" />
                  <img class="logo-light" src="{% static 'assets/img/logo-main-light.svg' %}" alt="Logo" />
                </a>
              </div>
              <div class="header-navigation-area">
                <ul class="main-menu nav justify-content-center position-relative">
                  <li><a href="{% url 'home' %}">Inicio</a></li>
                  <li><a href="{% url 'product_list' %}">Tienda</a></li>
                  <li ><a href="{% url 'post_list' %}">Blog</a></li>
                  <li><a href="{% url 'home' %}">Sobre Nosotros</a></li>
                  <li><a href="{% url 'contact' %}">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="header-align-right">
              <div class="header-action-area">

                <div class="dropdown">
                  <button class="btn-login dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="lastudioicon-single-01-2"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'my_profile' %}">Perfil</a></li>
                    <li><a class="dropdown-item" href="{% url 'order_list' %}">Mis Pedidos</a></li>
                    <li><a class="dropdown-item" href="{% url 'my_wish' %}">Mis Deseos</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Cerrar Sesión</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Iniciar Sesión</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Registrarse</a></li>
                    {% endif %}
                  </ul>
                </div>
                
                <div class="header-action-area">
                  <button class="btn-login" onclick="window.location.href='{% url 'my_wish' %}'">
                    <i class="lastudioicon-heart-2"></i></i>
                  </button>

                </div>
                
                <div class="header-action-cart">
                  <button class="btn-cart cart-icon">
                    <span class="cart-count">{{order.get_count}}</span>
                    <i class="lastudioicon-shopping-cart-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    {% block content %}
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area slider-home2">
      <div class="home-slider-content">
        <div class="swiper-container home-slider2-container">
          <div class="swiper-wrapper">
            {% for portada in portadas|slice:":3" %}
            <div class="swiper-slide">              
              <!-- Start Slide Item -->
              
              <div class="home-slider-item">
                <div class="thumb">
                  <div class="bg-thumb bg-overlay bg-img" data-bg-img="{{portada.imagen_principal.url}}"></div>
                </div>
                <div class="slider-content-area">
                  <div class="content">
                    <div class="inner-content">
                      <h2>{{portada.titulo}}</h2>
                      <p>{{portada.subtitulo}}</p>
                      <div class="price">{{portada.precio}}</div>
                      <a href="{{portadas.enlace}}" class="btn-theme btn-black btn-border">{{portada.boton}}</a>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- End Slide Item -->
            </div>
            {% endfor %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start New Collection Area Wrapper ==-->
    <section class="product-area new-collection-product-area">
      <div class="container-fluid">
        <div class="title-rotate" data-aos="fade-up" data-aos-duration="1000">
          <h2 class="title">Nuevos Modelos</h2>
        </div>
        <div class="row row-gutter-50" data-aos="fade-up" data-aos-duration="1000">
          {% for producto in productos|slice:":3" %}
          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="#">
                  <img src="{{producto.imagen.url}}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Ver Prenda" href="javascript:void({{ forloop.counter }});" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Añadir a Mis Deseos" href="/cart/add-to-wishlist/?orderitem_id={{producto.id}}&path_redirect={{request.path}}" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                </div>
                <div class="product-action-info">
                  <div class="content-inner">
                    <h4 class="title"><a href="{% url 'product_detail' producto.id producto.slug %}">{{producto.titulo}}</a></h4>
                    <div class="prices">
                      <span class="price">₲. {{producto.precio|intcomma}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          {% endfor %}
  
        </div>
      </div>
    </section>
    <!--== End New Collection Area Wrapper ==-->

    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area bg-overlay2 bg-img" data-bg-img="{% static 'assets/img/portada-1.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-12 m-auto">
            <div class="divider-content divider-content-style1" data-aos="fade-up" data-aos-duration="1000">
              <h2>¿Tienes un encuentro <br> y no sabes que llevar?</h2>
              <p>Te invitamos a mirar la tienda,<br> donde hay un prenda especial para ti.</p>
              <a href="shop.html" class="btn-theme btn-white">Ir a la Tienda</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Divider Area Wrapper ==-->

    <!--== Start Products Area Wrapper ==-->
    <section class="product-area top-product-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">MÁS VENDIDOS</h2>
            </div>
          </div>
        </div>
        <div class="row row-gutter-60" data-aos="fade-up" data-aos-duration="1200">
          {% for producto in productos|slice:":9" %}
          <div class="col-sm-6 col-md-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{{producto.imagen.url}}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-cart ht-tooltip" data-tippy-content="Añadir al Carrito" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Vista Rápida" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Añadir a Mis Deseos" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="content-inner">                  
                  <h4 class="title"><a href="shop-single-product.html">{{producto.titulo}}</a></h4>
                  <div class="prices">
                    <span class="price">₲. {{producto.precio|intcomma }}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          {% endfor %}
        </div>
        <div class="rew">
          <div class="col-12 text-center">
            <a href="shop.html" class="btn-theme btn-border btn-white">Mirar TODOS</a>
          </div>
        </div>
      </div>
    </section>
    <!--== End Products Area Wrapper ==-->

    <!--== Start Category Area Wrapper ==-->
    <section class="category-area category-default-area">
      <div class="container-fluid xs-pr-15 xs-pl-15 p-0">
        
        <div class="row row-gutter-6 category-items-style2">
          {% for categoria in categorias %}
          <div class="col-sm-6 col-lg-3">
            <div class="category-item">
              <div class="thumb">
                <a href="shop.html">{% thumbnail categoria.imagen_principal "477x477" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="Moren-Shop">
                  {% endthumbnail %}</a>
              </div>
              <div class="content">
                <h4 class="title">{{categoria.nombre}}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--== End Category Area Wrapper ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area blog-default-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">Nuestro Blog</h2>
            </div>
          </div>
        </div>
        <div class="row post-items" data-aos="fade-up" data-aos-duration="1200">
          <div class="col-12">
            <div class="swiper-container post-slider-container">
              <div class="swiper-wrapper">
                {% for post in posts %}
                <div class="swiper-slide">
                  <!--== Start Blog Post Item ==-->
                  <div class="post-item">
                    <div class="thumb">
                      <a href="#">{% thumbnail post.image "345x283" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="Moren-Shop">
                        {% endthumbnail %}</a>
                    </div>
                    <div class="content">
                      <div class="post-meta">
                        <img src="{% static 'assets/img/icons/s1.jpg' %}" alt="Image">
                        <a href="blog.html">{{post.author}}</a>
                      </div>
                      <div class="inner-content">
                        <h4 class="title">
                          <a href="#">{{post.title}}</a>
                        </h4>
                        <p>{{post.description}}</p>
                      </div>
                      <a href="#" class="btn-theme btn-border btn-black">Continuar Leyendo</a>
                    </div>
                  </div>
                  <!--== End Blog Post Item ==-->
                </div>
                {% endfor %}
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->

    <!--== Start Newsletter Area ==-->
    <section class="newsletter-area bg-overlay2-6 bg-img" data-bg-img="{% static 'assets/img/portada-2.jpg' %}">
      {% if hola %}
      <div class="testimonial-area">
        <div class="testimonial-slider-content">
          <div class="swiper-container testimonial-slider-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!-- Start Product Item -->
                
                <div class="testimonial-single">
                  <div class="client-thumb">
                    <img src="assets/img/testimonial/1.jpg" alt="Image">
                  </div>
                  <div class="client-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida dolor quam arcu hac sit. Vestibulum amet montes, congue ut sit ipsum enim, vitae fringilla. Habitasse sed velit dignissim.</p>
                  </div>
                  <div class="client-rating">
                    <ul>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                    </ul>
                  </div>
                  <div class="client-info">
                    <div class="desc">
                      <h4 class="name">Steven Elliott - Italia</h4>
                    </div>
                  </div>
                </div>
                
                <!-- End Product Item -->
              </div>
              <div class="swiper-slide">
                <!-- Start Product Item -->
                <div class="testimonial-single">
                  <div class="client-thumb">
                    <img src="assets/img/testimonial/1.jpg" alt="Image">
                  </div>
                  <div class="client-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida dolor quam arcu hac sit. Vestibulum amet montes, congue ut sit ipsum enim, vitae fringilla. Habitasse sed velit dignissim.</p>
                  </div>
                  <div class="client-rating">
                    <ul>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                      <li><i class="lastudioicon-star-rate-1"></i></li>
                    </ul>
                  </div>
                  <div class="client-info">
                    <div class="desc">
                      <h4 class="name">John Borthwick</h4>
                    </div>
                  </div>
                </div>
                <!-- End Product Item -->
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-xl-8 m-auto">
            <div class="newsletter-content content-style1">
              <h1 class="title">Quiero estar al TANTO!</h1>
              <p>Enterate de todas las novedades, productos, estilos y nuevo blogs.</p>
              <form class="newsletter-form" action="#">
                <input class="form-control" type="text" id="email" placeholder="Ingrese su Correo Electronico">
                <button class="btn btn-submit" type="submit">Suscribirse</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Newsletter Area ==-->
    {% if hola %}
    <!--== Start Brand Logo Area ==-->
    <div class="brand-logo-area brand-logo-default-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="swiper-container brand-logo-slider-container">
              <div class="swiper-wrapper brand-logo-slider">
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="assets/img/brand-logo/1.webp" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="assets/img/brand-logo/2.webp" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="assets/img/brand-logo/3.webp" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="assets/img/brand-logo/4.webp" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="assets/img/brand-logo/5.webp" alt="Brand-Logo"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Brand Logo Area ==-->
    {% endif %}
    {% endblock content %}
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area footer-style2">
    <div class="footer-main">
      <div class="container">
        <div class="row row-gutter-0">
          <div class="col-md-4 col-lg-4">
            <div class="footer-logo-area">
              <a href="{% url 'home' %}">
                <img class="logo-main" src="{% static 'assets/img/logo-main-light.svg' %}" alt="Logo" />
              </a>
              <p>{{fact_description}}</p>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="widget-item mt-sm-40">
              <h4>Compañia</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="{% url 'page_detail' 1 %}">Sobre Nosotros</a></li>
                  <li><a href="{% url 'page_detail' 2 %}">Servicios</a></li>
                  <li><a href="{% url 'contact' %}">Contacto</a></li>
                </ul>
              </nav>
            </div>
            <div class="widget-item widget-item-style2 mb-sm-30">
              <h4>Informaciones</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="{% url 'page_detail' 4 %}">Preguntas Frecuentes</a></li>
                  <li><a href="{% url 'page_detail' 3 %}">Reembolso</a></li>
                  <li><a href="{% url 'page_detail' 0 %}">Terminos y condiciones</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="widget-item">
              <h4>Categorias</h4>
              <nav class="widget-menu-wrap menu-col-2">
                {% for categoria in categorias|slice:":4" %}
                  {% if forloop.first %}
                <ul class="nav-menu nav">
                  <li><a href="#">All</a></li>            
                  <li><a href="shop.html">{{categoria.nombre}}</a></li>
                  {% endif %}
                  {% if forloop.counter == 2 %}
                  <li><a href="shop.html">{{categoria.nombre}}</a></li>
                  </ul>
                  {% endif %}
                  {% if forloop.counter == 3 %}
                <ul class="nav-menu nav">
                  <li><a href="shop.html">{{categoria.nombre}}</a></li>
                  {% endif %}
                  {% if forloop.counter == 4 %}
                  <li><a href="shop.html">{{categoria.nombre}}</a></li>
                  {% endif %}
                  {% if forloop.counter == 5 %}
                  <li><a href="shop.html">{{categoria.nombre}}</a></li>
                  {% endif %}
                  {% if forloop.last %}
                </ul>
                {% endif %}
                  {% endfor %}
              </nav>
            </div>
          </div>
          <div class="col-lg-3 d-block d-md-none d-lg-block">
            <div class="widget-item mt-sm-40">
              <h4>Nuestras Redes Sociales</h4>
              <div class="widget-social-icons">
                <a href="{{ link_facebook }}"><i class="lastudioicon lastudioicon-b-facebook"></i></a> 
                <a href="{{ link_instagram }}"><i class="lastudioicon lastudioicon-b-instagram"></i></a>
              </div>
            </div>
            <div class="widget-item widget-item-style3">
              <h4>Información de Contacto</h4>
              <ul class="widget-contact-info">
                <li><a href="tel://">Phone: {{fact_number}}</a></li>
                <li><a href="mailto://">Email: {{fact_email}}</a></li>
                <li><a href="l">Horario: {{fact_opentime}}</a></li>
                <li class="info-address"><a href="">Dirección: {{fact_address}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>
  {% if hola %}
  {% for producto in productos|slice:":3" %}
  <!--== Start Product Quick View ==-->
  <aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
      <div class="product-quick-view-content">
        <button type="button" class="btn-close">
          <span class="close-icon"><i class="lastudioicon-e-remove"></i></span>
        </button>
        <div class="row row-gutter-0">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="thumb">
              <img src="assets/img/shop/quick-view1.jpg" alt="Moren-Shop">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="single-product-info">
              <h4 class="title">{{producto.titulo}}</h4>
              <div class="product-rating">
                <div class="review">
                  <p><span></span>99 in stock</p>
                </div>
              </div>
              <div class="prices">
                <span class="price">{{producto.precio|intcomma}}</span>
              </div>
              <p class="product-desc">{{producto.description}}</p>
              <div class="quick-product-action">
                <div class="action-top">
                  <div class="pro-qty-area">
                    <div class="pro-qty">
                      <input type="text" id="quantity" title="Quantity" value="1">
                    <a href="#" class="inc qty-btn">+</a><a href="#" class="dec qty-btn">-</a></div>
                  </div>
                  <a class="btn-theme btn-black" href="shop-cart.html">Add to cart</a>
                </div>
                <div class="action-bottom">
                  <a class="btn-wishlist" href="shop-wishlist.html"><i class="labtn-icon labtn-icon-wishlist"></i>Add to wishlist</a>
                  <a class="btn-compare" href="shop-compare.html"><i class="labtn-icon labtn-icon-compare"></i>Add to compare</a>
                </div>
              </div>
              <div class="product-ratting">
                <div class="product-sku">
                  SKU: <span>REF. LA-276</span>
                </div>
              </div>
              <div class="product-categorys">
                <div class="product-category">
                  Category: <span>Uncategorized</span>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Tags:</h3>
                <div class="widget-tags">
                  <ul>
                    <li><a href="shop.html">Blazer,</a></li>
                    <li><a href="shop.html">Fashion,</a></li>
                    <li><a href="shop.html">wordpress,</a></li>
                  </ul>
                </div>
              </div>
              <div class="product-social-info">
                <a href="#"><span class="lastudioicon-b-facebook"></span></a>
                <a href="#"><span class="lastudioicon-b-twitter"></span></a>
                <a href="#"><span class="lastudioicon-b-linkedin"></span></a>
                <a href="#"><span class="lastudioicon-b-pinterest"></span></a>
              </div>
              <div class="product-nextprev">
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-left"></i>
                </a>
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-overlay"></div>
  </aside>
  <!--== End Product Quick View ==-->
  {% endfor %}
  {% endif %}

  <!--== Start Aside Search Menu ==-->
  <div class="search-box-wrapper">
    <div class="search-box-content-inner">
      <div class="search-box-form-wrap">
        <div class="search-note">
          
        </div>
        <form action="#" method="post">
          <div class="search-form position-relative">
            <label for="search-input" class="sr-only">¿Qué quieres buscar?</label>
            <input type="search" class="form-control" placeholder="Search" id="search-input">
            <button class="search-button"><i class="lastudioicon-zoom-1"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!--== End Aside Search Menu ==-->
    <a href="javascript:;" class="search-close"><i class="lastudioicon-e-remove"></i></a>
  </div>
  <!--== End Aside Search Menu ==-->

  <!--== Start Sidebar Cart Menu ==-->

  <aside class="sidebar-cart-modal">
    <div class="sidebar-cart-inner">
      <div class="sidebar-cart-content">
        <a class="cart-close" href="javascript:void(0);"><i class="lastudioicon-e-remove"></i></a>
        <div class="sidebar-cart">
          <h4 class="sidebar-cart-title">Carrito</h4>
          <div class="product-cart">
            {% for item in order.get_cart_items %}
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="{{item.producto.imagen.url}}" alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">{{item.producto.titulo}}</a></h4>
                <span class="info">{{item.quantity}} - ₲. {{item.get_item_total|intcomma}}</span>
              </div>
              <div class="product-delete"><a href="/cart/delete-from-cart/?orderitem_id={{item.id}}&path_redirect={{request.path}}">X</a></div>
            </div>
            {% endfor %}

            {% for item in items %}
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="{{item.producto.imagen.url}}" alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">{{item.producto.titulo}}</a></h4>
                <span class="info">{{item.quantity}} - ₲. {{item.get_item_total|intcomma}}</span>
              </div>
              <div class="product-delete"><a href="/cart/delete-from-cart/?orderitem_id={{item.id}}&path_redirect={{request.path}}">X</a></div>
            </div>
            {% endfor %}
          </div>
          <div class="cart-total">
            <h4>Total: <span class="money">₲. {{order.get_cart_total|intcomma}}</span></h4>
          </div>
         
          <div class="cart-checkout-btn">
            <a class="btn-theme" href="{% url 'my_cart' %}">Mirar mi Carrito</a>
            <a class="btn-theme" href="#">Relizar Compra</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="sidebar-cart-overlay"></div>
  <!--== End Sidebar Cart Menu ==-->

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper canvas-fullpage-menu">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="lastudioicon-e-remove"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script src="https://kit.fontawesome.com/b73a5f55bd.js" crossorigin="anonymous"></script>

<script src="https://unpkg.com/@popperjs/core@2"></script>

<script src="{% static 'assets/js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'assets/js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!--=== jquery Appear Js ===-->
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="{% static 'assets/js/swiper.min.js' %}"></script>
<!--=== jquery Fancybox Min Js ===-->
<script src="{% static 'assets/js/fancybox.min.js' %}"></script>
<!--=== jquery Aos Min Js ===-->
<script src="{% static 'assets/js/aos.min.js' %}"></script>
<!--=== jquery Slicknav Js ===-->
<script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
<!--=== jquery Countdown Js ===-->
<script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
<!--=== jquery Tippy Js ===-->
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
<!--=== Isotope Min Js ===-->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<!--=== jquery Vivus Js ===-->
<script src="{% static 'assets/js/vivus.js' %}"></script>
<!--=== Parallax Min Js ===-->
<script src="{% static 'assets/js/parallax.min.js' %}"></script>
<!--=== Slick  Min Js ===-->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!--=== jquery Wow Min Js ===-->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!--=== jquery Zoom Min Js ===-->
<script src="{% static 'assets/js/jquery-zoom.min.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'assets/js/custom.js' %}"></script>

<!--=== Extras ===-->
<script src="{% static 'assets/js/jquery-3.6.0.js' %}"></script>

<script src="{% static 'extras/cart.js' %}"></script>

<script type="text/javascript"> 
  $(".ordertracking").hide();

  function ShowHidden() {
    let text = "";
    if ($("#orderButton").text()=="Abrir Seguimiento") {
      $(".ordertracking").show();
      text = "Ocultar Seguimiento"
    }else{
      $(".ordertracking").hide();
      text = "Abrir Seguimiento"
    }

    $("#orderButton").html(text);
  }
</script>

</body>

</html>