{% extends 'core/index.html' %}
{% load static %}
{% block title %}
{{page.title}}
{% endblock title %}

{% block content %}
{% if page %}
 <!--== Start Page Title Area ==-->
 <section class="page-title-area bg-img" data-bg-img="">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12">
		  <div class="page-title-content">
			</div>
		</div>
	  </div>
	</div>
  </section>
  <!--== End Page Title Area ==-->


  <section class="blog-details-area">
    <div class="container">
      <div class="row">
      <div class="col-12">
        <div class="blog-content-column">
        <div class="blog-content-area no-sidebar">
          <div class="post-details-content">
          <div class="post-details-body">
            <div class="content">


            <center><h4>{{page.title}}</h4></center>
            <div class="blockquote-area">
              {{page.content|safe}}
              <br>
              {% if request.user.is_staff %}
              <p><a href="{% url 'admin:pages_page_change' page.id %}">Editar</a></p>
                {% endif %}
            <div class="category-social-content">
              <div class="social-items">
                {% if hola %}
              <a class="one" href="#/"><i class="lastudioicon-b-facebook"></i></a>
              <a class="two" href="#/"><i class="lastudioicon-b-twitter"></i></a>
              <a class="three" href="#/"><i class="lastudioicon-b-linkedin"></i></a>
              <a class="four" href="#/"><i class="lastudioicon-b-pinterest"></i></a>
              {% endif %}
              </div>
            
            </div>{% if hola %}
            {% endif %}
          </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    </section>
{% endif %}
{% endblock content %}

