{% extends 'core/index.html' %}
{% load static %}
{% load social_extras %}
{% block title %}
Contacto
{% endblock title %}

{% block content %}
<main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="{% static 'assets/img/contact.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content">
              <h2 class="title">Contacto</h2>
              <br>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Contact Area ==-->
    <section class="contact-area">
      <div class="container">
        <div class="row">
          <div class=" col-lg-7">
            <div class="contact-form">
              <form class="contact-form-wrapper form-style" id="contact-form" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section-title">
                      <h2 class="title"></h2>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input class="form-control" type="text" name="name" id="name" placeholder="Nombre*">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input class="form-control" type="email" name="email" id="email" placeholder="Correo Electronico*">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input class="form-control" type="text" name="phone" id="phone" placeholder="Número de Celular">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group mb-0">
                      <textarea class="form-control textarea" name="message" id="message" placeholder="¿En que podemos ayudarte?"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group mb-0">
                      <button class="btn btn-primary" type="submit">Enviar Mensajes</button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Message Notification -->
              <div class="form-message"></div>
            </div>
          </div>
          <div class=" col-lg-5">
            <div class="contact-info-wrapper">
              <div class="section-title">
                <h2 class="title">Nuestros Locales</h2>
              </div>
              <div class="contact-info-content">
                <div class="align-top">
                  <div class="contact-info-item">
                    <div class="icon">
                     <i class="lastudioicon lastudioicon-pin-3-2"></i>
                    </div>
                    <div class="content">
                      <h4>Casa Fenix </h4>
                      <p>{{fact_address}}</p>
                    </div>
                  </div>
                  <div class="contact-info-item">
                    <div class="icon">
                      <span><i class="lastudioicon lastudioicon-pin-3-2"></i></span>
                    </div>
                  </div>
                </div>
                <div class="align-bottom">
                  <div class="contact-info-item info-item2">
                    <div class="icon">
                      <span><i class="lastudioicon lastudioicon-mail"></i></span>                      
                    </div>
                    <div class="content">
                      <p>{{fact_email}}</p>
                    </div>
                  </div>
                  <div class="contact-info-item social-icons-item mb-0 pb-0">
                    <div class="content">
                      <div class="social-widget">
                        <a href="{{link_facebook}}"><i class="lastudioicon lastudioicon-b-facebook"></i></a>
                        <a href="{{link_instagram}}"><i class="lastudioicon lastudioicon-b-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Contact Area ==-->

    <!--== Start Map Area ==-->
    <div class="contact-map-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d618.5001023417284!2d-54.67811860837566!3d-25.495488369827317!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f68577a782db29%3A0xd0b0bb414c15e6fd!2sCasa%20Fenix!5e0!3m2!1ses!2sus!4v1632851823035!5m2!1ses!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      
    </div>
    <!--== End Map Area ==-->
  </main>
{% endblock content %}